<div id="content">
  <% @products.each do |product| %>
    <a id="<%= product.id %>" href="<%= store_path(product) %>">
      <div class="prodcut">
        <p>Name: <%= product.name %></p>
        <p>Price: <%= product.price %></p>
        <p>Articul: <%= product.articul %></p>
      </div>
    </a>
    <hr>
  <% end %>
</div>